/*.deleteIcon {*/
/*fontSize: 18px;*/
  /*color: #333333;*/
  /*cursor: pointer;*/
  /*position:absolute;*/
  /*top:7%;*/
  /*right:9%;*/
  /*display:none ;*/
/*}*/


/*.kanbanCard:hover >div> .deleteIcon{*/
  /*fontSize: 18px;*/
  /*color: #928d8d;*/
  /*cursor: pointer;*/
  /*position:absolute;*/
  /*top:7%;*/
  /*right:9%;*/
  /*display:inline ;*/
/*}*/

.kanban-manage .searchStyle .anticon{
  margin-top:6px !important;
}
/*.kanban-manage .searchStyle .ant-input-affix-wrapper .ant-input:not(:first-child){*/
  /**/
/*}*/

.kanban-manage .searchStyle .ant-input{
  font-size: 12px;
  padding-left: 28px;
}

.kanban-manage .ant-input-prefix{
  bottom: 3px;
}

.kanban-manage .ant-input-search-icon{
  font-size: 14px !important;
}

.kanban-manage .all-kanban-header .all-kanban-left {
  float: left;
}
.kanban-manage .all-kanban-header .all-kanban-right{
  float: right;
}

.kanban-manage-item{
  display: inline-block;
  position: relative;
}

/*.kanban-manage .right .header-item{*/
  /*margin-right: 8px;*/
/*}*/


.custom-image{
  position: relative;
}
.custom-image-mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.4;
  top:0;
  pointer-events:none;
}
.custom-card .kanban-name .kanban-name-text{
  white-space:nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  overflow: hidden;

  font-size: 14px;
  /*color: rgba(0,0,0,0.87);*/
}
.custom-card .kanban-lastupdate{
  font-size: 12px;
  color: rgba(0,0,0,0.26);
}
/*.custom-card p {*/
  /*color: #999;*/
/*}*/
.kanban-manage-card-menu{
  top:-6px;
  width: 55px;
  outline: none;
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
  background-clip: padding-box;

  -moz-user-select: none; /*火狐*/

  -webkit-user-select: none; /*webkit浏览器*/

  -ms-user-select: none; /*IE10*/

  -khtml-user-select: none; /*早期浏览器*/

  user-select: none;

}
.kanban-manage-card-menu li{
  /*padding: 7px 8px;*/
  margin: 0;
  clear: both;
  cursor: pointer;
  /*font-size: 12px;*/
  /*font-weight: 400;*/
  /*color: rgba(0,0,0,.65);*/
  /*white-space: nowrap;*/
  /*cursor: pointer;*/
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 25px;
  padding-left: 7px;
}
.kanban-manage-card-menu li:hover{
  background-color: #ecf6fd;
  border-radius: 4px;
}
.kanban-manage-card-menu li a{
  font-size: 12px;
  font-weight: 400;
  color: rgba(0,0,0,.65);
  white-space: nowrap;

}

.kanban-manage table th,.kanban-manage table td{
  padding: 10px 8px;
}

.kanban-manage .ant-tabs-nav.ant-tabs-nav-animated{
  height: 44px ;
}

.kanban-manage .ant-tabs-ink-bar.ant-tabs-ink-bar-animated{
  width: 76px !important;
  left: 10px;
  height: 3px;
  background-color: #3F51B5;
}
.kanban-manage .ant-tabs-tab-active.ant-tabs-tab{
  color: #3F51B5;
}
